body,html {
    overflow: hidden;
}
.calc-box {
    margin: auto;
    width: 500px;
    margin-top: 50px;
}

.title {
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.group {
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

.group label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.group input {
    width: 180px;
    height: 32px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    margin-right: 5px;
}

.calc-button {
    margin-top: 20px;
    width: 100vw;
}

.calc-button button {
    width: 95%;
    height: 40px;
    border: 0;
    background-color: #4096ff;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
}

.result-box {
    margin-top: 20px;
}

.result-title {
    font-weight: bold;
    font-size: 18px;
}

.result-numberï¼Œ.result-number-resource {
    font-size: 20px;

}

